.footer {
  background-color: #1f252b;
  color: #ffffff;
  padding: 50px 80px 30px;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  min-width: 200px;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-col h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.footer-col p {
  color: #cccccc;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
  color: #cccccc;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #ffffff;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}

.social-icons svg:hover {
  color: #ff7a00;
}

hr {
  margin: 40px 0 20px;
  border: 0.5px solid #444;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #cccccc;
}
