.btn-orange {
    background-color: #ff6b00;
    color: white;
    border: none;
}

.btn-orange:hover {
    background-color: #e65c00;
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 0.95rem;
    color: #333 !important;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: #ff6b00 !important;
}